* {
    box-sizing: border-box;
}
:root {
    --dark-100: #050505;
    --dark-200: #0a0a0a;
    --dark-300: #0d0d0d;
    --off-white: #8caa9d;
    --darkblue-200: #0a0a1a;
    --darkblue-250: #0b0b3b;
    --darkblue-300: #130539;
    --darkblue-500: #0b0366;
    --darkpurple-100: #1f002b;
    --green-100: #072d0f;
    --green-400: #059121;
    --anim-time: 200ms;
    --base-size: 16px;
    --base-font: 'Courier New', Courier, monospace;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: var(--base-size);
    color: var(--off-white);
    font-family: var(--base-font);
}

.root {
    min-height: 100%;
    background: var(--dark-300);
    display: flex;
    justify-content: center;
    align-items: center;
}
.rootInner {
    width: 100%;
}
#appContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: calc(100% - 2rem);
    padding: 10rem 1rem;
    flex-direction: column;
}

.btn {
    color: var(--off-white);
    border: none;
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
    background: var(--darkblue-300);
    cursor: pointer;
    font-family: var(--base-font);
    border-bottom: 3px solid var(--darkblue-500);
    border-top: 0px solid transparent;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    position: relative;
    transition: filter var(--anim-time) ease-in-out;
}

.btn:hover {
    filter: brightness(1.5);
}
textarea {
    width: 400px;
    height: 200px;
    display: none;
}

.visible {
    display: block;
}

.addHub {
    display: none;
    margin-bottom: 2rem;
}

.addHub.visible {
    display: block;
}

.addHub input {
    display: block;
    padding: 0.8rem;
    border-radius: 0.25rem;
    width: 100%;
    font-size: 1rem;
    box-sizing: border-box;
    background: transparent;
    color: var(--off-white);
    border: 2px solid var(--green-100);
    transition: border-color 500ms;
    margin-bottom: 0.5rem;
}

.addHub input:focus,
.addHub input:hover {
    border-color: var(--green-100);
}
.item__box {
    border: 1px solid var(--green-100);
    border-top: none;
    width: 100%;
}
.item__check {
    display: none;
}
.item__label {
    padding: 1rem 0.7rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    transition: background var(--anim-time);
}
.item__check:not(:checked) + .item__label:hover {
    background: #222;
}
.item__check:checked + .item__label {
    background: #273c3c;
}
.item__row {
    margin: 2rem 0;
    border-top: 1px solid var(--green-100);
}