server {
    listen          {{port}};
    server_name     {{server_name}};

    location /static/decoder/opus-stream-decoder.wasm {
        alias       {{project_path}}/node_modules/opus-stream-decoder/dist/opus-stream-decoder.wasm;
    }

    location /static/decoder/opus-stream-decoder.js {
        alias       {{project_path}}/node_modules/opus-stream-decoder/dist/opus-stream-decoder.js;
    }

    location /static {
        alias       {{project_path}}/build;
    }

    location / {
        root        {{project_path}}/public;
        try_files   $uri $uri/ index.html;
    }
}
